// COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// FONTS
$font-primary-size: 1.6rem;

// SHADOWS
$shadow-THE-smallest: 0 .05rem .5rem rgba(black, .2);
$shadow-smallest: 0 .25rem 1rem rgba(black, .2);
$shadow-small: 0 .5rem 1rem rgba(black, .2);
$shadow-medium: 0 1rem 2rem rgba(black, .2);
$shadow-intense: 0 1px 2px black;




// keyFrames
@keyframes comeInFromTop {
    0% {
        top: -100vh;
    }
    80% {
        top: 55%;
    }

    100% {
        top: 50%;
    }
}