@import '../constants.scss';

.GameInterface {
    display: grid;
    grid-template-columns: 1fr 70rem 1fr;
    grid-template-areas: ". text .";
    margin-bottom: .5rem;
}

.GameForm {
    background-color: white;
    box-shadow: $shadow-smallest;
    border-radius: .8rem;
    text-align: justify;
    grid-area: text;
    padding: 2rem;
    margin-bottom: .5rem;
    height: 40rem;
}

.GameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 1rem;     
    
}

.item {
    background: #ce8888;
    width: 100px;
    height: 20px;
    }

.item2 {
    background:green;
    width: 50px;
    height: 20px;
    }

.ParagraphContainer {
    background-color: $color-grey-light-1;
    box-shadow: $shadow-THE-smallest;
    border-radius: .3rem;
    padding: 0 1rem;
    margin-top: .5rem;
    transition: all .2s;
    margin-bottom: .5rem;

   

}