@import '../../constants.scss';

.Container {

}

.Condition {
    display: grid;
}

.OrderedList {
    margin-left: 1rem;
}


.NetworkPlotlyContainer {
    overflow: hidden;
    height: 220px;
    & h5 {
        display: none;
    }
    .NetworkPlotly {
        transform: scale(.8);
        margin-top: -170px;
        margin-left: 50px;
        height: 500px;
        width: 700px;
        position: relative;
        z-index: 10;
   }
}