.Container {
    /* display: grid;
    grid-template-rows: 7em 1fr;
    grid-template-areas: "logo" "rest";
    background-color: 'grey'; */
    position: aboslute; margin: auto;
    position:relative;
    margin: auto;
    clear:left;
    height:auto;
    grid-area: rest;
}

.Main {
    position: aboslute; margin: auto;
    position:relative;
    margin: auto;
    clear:left;
    height:auto;
    grid-area: rest;
    
}