
.Action {
    background-color: grey;
    opacity: 0.4;
	width: 7.5rem;
	height: 5rem;
	text-align: center;
	line-height: 50px;
	margin: 60px auto;
	background-color: #fff;
	border: 8px solid #666;
	border-radius: 30px;
    box-shadow: 2px 2px 4px #888;
    font-weight: bold;
    overflow: hidden;
}

.Action:-webkit-scrollbar {
    display: none;
}

.Action:hover {
    opacity: 1.0;
}



/* ask actions (ask B/askC) */
.aB {
    position: absolute;
    left:5%;
    top:15%; 
    width: 7.5rem;
	height: 5rem;
    background-color:lightgray;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aC {
    position: absolute;
    left:25%;
    top:15%; 
    width: 7.5rem;
	height: 5rem;
    background-color: lightgray;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    position: absolute;
    left:28%;
    top:60%; 
    width: 7.5rem;
	height: 5rem;
    background-color: lightgray;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.clickedBtn {
    background-color: red;
}

 /* tell actions (tell B blue/tell B red/ tell C blue/tell C red) */
.tBb {
    position: absolute;
    left:9%;
    top:35%; 
    width: 7.5rem;
	height: 5rem;
    background-color:deepskyblue;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tCb {
    position: absolute;
    left:27%;
    top:35%; 
    width: 7.5rem;
	height: 5rem;
    background-color: deepskyblue;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tBr {
    position: absolute;
    left:9%;
    top:55%; 
    width: 7.5rem;
	height: 5rem;
    background-color:red;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tCr {
    position: absolute;
    left:27%;
    top:55%; 
    width: 7.5rem;
	height: 5rem;
    background-color: red;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* instruction frame above actions */
.instr_frame {
    opacity: 1.0;
    position: absolute;
    left:5%;
    top:-5%; 
    width: 275px;
    height: 40px;
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;
}

 /* ask headline  */
.ask_frame {
    opacity: 1.0;
    position: absolute;
    left:15%;
    top:8%; 
    width: 7.5rem;
	height: 5rem;
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

/* tell headline  */
.tell_frame {
    opacity: 1.0;
    position: absolute;
    left:10%;
    top:30%; 
    width: 275px;
    height: 40px;
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

/* confidence slider */
.conf_sentence {
    opacity: 1.0;
    position: absolute;
    left:24%;
    top:83%; 
    width: 10px;
    height: 40px;
    background-color:transparent;
    font: 15spx Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;
}

/* confidence bar */
.conf_frame {
    opacity: 1.0;
    position: absolute;
    left:13%;
    top:78.5%; 
    width: 200px;
    height: 0px;
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    cursor: move;
    overflow: scroll;
	resize: both;
    max-width: 200px;
    max-height: 0px;
  }

/* border separating actions and node states  */
.border_frame {
    position: absolute;
    opacity: 1.0;
    left:65.5%;
    top:-8%; 
    width: 0;
    height: 90%;
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    box-shadow: 1px 1px 1px #888;
    border: 4px solid #666;
  }


.conf_node {
    opacity: 1;
    position: absolute;
    left:22%;
    top:75%; 
    width: 10px;
    height: 0px;
    background-color: lightgray;
    font: 15spx Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    cursor: move;
    overflow: scroll;
	resize: horizontal;
}

/* confidence bar */
.conf_frame_background {
    opacity: 0.2;
    position: absolute;
    left:13%;
    top:78.5%; 
    width: 200px;
    height: 0px;
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
  }

.conf_frame_background:hover {
    opacity: 0.2;
}

.ConfidenceVeryHighLeft {
    opacity: 0.2;
    position: absolute;
    left:3%;
    top:50%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color: lightgray;
    font: 15px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    cursor: pointer;
    overflow: hidden;
}


.ConfidenceHighLeft {
    opacity: 0.2;
    position: absolute;
    left:12%;
    top:50%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color: lightgray;
    font: 15px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    cursor: pointer;
    overflow: hidden;
}

.ConfidenceMediumLeft {
    opacity: 0.2;
    position: absolute;
    left:21%;
    top:50%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color: lightgray;
    font: 15px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    cursor: pointer;
    overflow: hidden;
}

.ConfidenceNeutral {
    opacity: 0.2;
    position: absolute;
    left:30%;
    top:50%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color: lightgray;
    font: 15px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    cursor: pointer;
    overflow: hidden;
}


.ConfidenceMediumRight {
    opacity: 0.2;
    position: absolute;
    left:39%;
    top:50%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color: lightgray;
    font: 15px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    cursor: pointer;
    overflow: hidden;
}


.ConfidenceHighRight {
    opacity: 0.2;
    position: absolute;
    left:48%;
    top:50%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color: lightgray;
    font: 15px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    cursor: pointer;
    overflow: hidden;
}

.ConfidenceVeryHighRight {
    opacity: 0.2;
    position: absolute;
    left:57%;
    top:50%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color: lightgray;
    font: 15px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    cursor: pointer;
    overflow: hidden;
}

.ConfidenceVeryHighLeftLegend {
    opacity: 1;
    position: absolute;
    left:3%;
    top:67%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color: white;
    font: 12px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: none;
    box-shadow: none;
}


.ConfidenceHighLeftLegend {
    opacity: 1;
    position: absolute;
    left:12%;
    top:67%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color: white;
    font: 12px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: none;
    box-shadow: none;
}

.ConfidenceMediumLeftLegend {
    opacity: 1;
    position: absolute;
    left:21%;
    top:67%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color:white;
    font: 12px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;  
    border: none;
    box-shadow: none; 
   
}

.ConfidenceNeutralLegend {
    opacity: 1;
    position: absolute;
    left:30%;
    top:67%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color:white;
    font: 12px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: none;
    box-shadow: none;
}


.ConfidenceMediumRightLegend {
    opacity: 1;
    position: absolute;
    left:39%;
    top:67%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color: white;
    font: 12px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: none;
    box-shadow: none;
}


.ConfidenceHighRightLegend {
    opacity: 1;
    position: absolute;
    left:48%;
    top:67%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color: white;
    font: 12px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: none;
    box-shadow: none;
}

.ConfidenceVeryHighRightLegend {
    opacity: 1;
    position: absolute;
    left:57%;
    top:67%; 
    width: 4.5rem;
	height: 4.5rem;
    background-color:white;
    font: 12px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: none;
    box-shadow: none;

   
   

}










