@import '../../constants.scss';

.InsSummary {
    display: grid;
    grid-template-columns: 1fr 50rem 1fr;
    grid-template-areas: ". text .";
}

.InnerContainer {
    text-align: justify;
    grid-area: text;
    padding: 1rem;
    background-color: white;
}

.PlanetColorRed {
    color: red;
}

.PlanetColorBlue {
    color: blue;
}